*{
    /* 初始化 */
    margin: 0;
    padding: 0;
}
.comment{
    width: 1200px;
    margin: 0 auto;
}
.head{
	background-color: #ffffff;
}
.header{
    /* 弹性布局 */
    display: flex;
    justify-content: space-between;
    height: 52px;
    line-height: 52px;
}
.backcolor{
	background-color: rgba(241, 241, 241, 0.903);
}
.header-left a{
    padding: 0 5px;
    color: rgb(118, 118, 118);
}
.header-left select:hover{
    color: orange;
}
.header-rest{
    float: right;
}
.header-rest a:hover{
    color: orange;
}
.header-rest a:nth-child(1){
    color: orange;
}

.nav>li {
	width: 100px;
	float: left;
	text-align: center;
}

.nav>li>a {
	width: 100px;
	height: 52px;
	line-height: 52px;
	display: block;
	color: rgb(118, 118, 118);
	transition: all .5s;
}

.nav>li>a:hover {
	background-color: #ffffff;
    color: orange;
}

.nav>li:first-child {
	margin-left: 0px;
}

.nav>li:last-child {
	margin-right: 0px;
}

.nav>li>ul {
	line-height: 30px;
	display: none;
}

.nav>li>ul>li {
	background: rgb(255, 255, 255);
	color: rgb(118, 118, 118);
}

.nav>li>ul>li:hover {
	color: orange;
	cursor: pointer;
    border: 0px 1px 1px 1px  solid rgb(118, 118, 118);
    box-shadow: 0px 2px 3px rgb(118, 118, 118);
}
.submenu{
	width: 1200px;
	background-color: rgb(255, 255, 255);
	position: fixed;
	left: 145px;
	display: flex;
	justify-content: space-evenly;
	height: 260px;
    border: 0px 1px 1px 1px  solid rgb(118, 118, 118);
    box-shadow: 0px 2px 3px rgb(118, 118, 118);
}
.hotel{
    width: 280px;
    padding-top: 15px;
}
.hotel-list li{
    width: 85px;
    float: left;
}
.hotel a{
    color: rgb(118, 118, 118);
}
.hotel a:hover{
    color: orange;
}
.hotel-list img{
    padding: 15px;
    width: 50px;
    height: 50px;
}
.food-list li{
    width: 120px;
    float: left;
}
.logo{
	display: flex;
	height: 180px;
}
.logo-img{
	width: 350px;
}
.logo-img img{
	width: 126px;
	height: 46px;
	padding: 36px 0;
}
.sousuo{
	padding: 36px 0;
}
.sousuo input{
	width: 340px;
	height: 40px;
    color: rgb(118, 118, 118);
    font-size: 14px;
    padding:  0 5px;
}
.sousuo button{
	width: 80px;
	height: 44px;
	line-height: 44px;
	background-color: rgb(237, 201, 109);
	margin-left: -5px;
}
.banner{
	display: flex;
	margin-top: -50px;
}
.banner-left{
	width: 228px;
	height: 487px;
	background-color: aqua;
}
.banner-left-head{
	width: 228px;
	height: 60px;
	background-color: rgb(82, 160, 228);
}
.banner-right{
	width: 950px;
	height: 240px;
	background-color: aqua;
	margin-left: 10px;
}
.banner-right-head{
	width: 950px;
	height: 60px;
	background-color: rgb(49, 49, 49);
}
.banner-right-content{
	width: 950px;
	height: 417px;
	background-color: blueviolet;
}
.content-head{
	width: 950px;
	height: 240px;
	background-color: blue;
	display: flex;
	justify-content: space-between;
}
.head-slide{
	width: 550px;
	height: 240px;
	background-color: aquamarine;
}
.head-content{
	width: 150px;
	height: 240px;
	background-color: cadetblue;
}
.head-regiter{
	width: 230px;
	height: 240px;
	background-color: coral;
}
.content-body{
	width: 950px;
	height: 177px;
	background-color: chartreuse;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.body-left img{
	width: 270px;
	height: 177px;
}
.body-right1 img{
	width: 150px;
	height: 177px;
}
.body-right2{
	width: 230px;
	height: 177px;
	background-color:rosybrown ;
	text-align: center;
}
.body-right2 img{
	width: 95px;
	height: 95px;
	margin: 10px 0;
}
.body-right2 p{
	font-size: 16px;
	color: #222222;
	font-weight: 500;
}
.body-right2 span:nth-child(3){
	color: red;
}
.body-right2 span:nth-child(4){
	color: #3f3f3f;;
}