*{
    /* 初始化 */
    margin: 0;
    padding: 0;
}
/* 设置公共宽度 */
.comment{
    width: 1200px;
    margin: 0 auto;
}
.clearfix ::after,
.clearfix ::before{
     content: "";
     /* table为块元素 */
     display: table; 
     clear: both;
 }
/* 头部开始 */
.head{
	background-color: #ffffff;
}
.header{
    /* 弹性布局 */
    display: flex;
    justify-content: space-between;
    height: 52px;
    line-height: 52px;
}
.backcolor{
	background-color: rgba(241, 241, 241, 0.903);
}
.header-left a{
    padding: 0 5px;
    color: rgb(118, 118, 118);
}
.header-left select:hover{
    color: orange;
}
.header-rest{
    float: right;
}
.header-rest a:hover{
    color: orange;
}
.header-rest a:nth-child(1){
    color: orange;
}

.nav>li {
	width: 100px;
	float: left;
	text-align: center;
}

.nav>li>a {
	width: 100px;
	height: 52px;
	line-height: 52px;
	display: block;
	color: rgb(118, 118, 118);
	transition: all .5s;
}

.nav>li>a:hover {
	background-color: #ffffff;
    color: orange;
}

.nav>li>ul {
	line-height: 30px;
	display: none;
}

.nav>li>ul>li {
	background: rgb(255, 255, 255);
	color: rgb(118, 118, 118);
}

.nav>li>ul>li:hover {
	color: orange;
	cursor: pointer;
    border: 0px 1px 1px 1px  solid rgb(118, 118, 118);
    box-shadow: 0px 2px 3px rgb(118, 118, 118);
}
.submenu{
	width: 1200px;
	background-color: rgb(255, 255, 255);
	position: fixed;
	left: 145px;
	display: flex;
	justify-content: space-evenly;
	height: 260px;
    border: 0px 1px 1px 1px  solid rgb(118, 118, 118);
    box-shadow: 0px 2px 3px rgb(118, 118, 118);
}
.hotel{
    width: 280px;
    padding-top: 15px;
}
.hotel-list li{
    width: 85px;
    float: left;
}
.hotel a{
    color: rgb(118, 118, 118);
}
.hotel a:hover{
    color: orange;
}
.hotel-list img{
    padding: 15px;
    width: 50px;
    height: 50px;
}
.food-list li{
    width: 120px;
    float: left;
}
.logo{
	display: flex;
	height: 180px;
}
.logo-img{
	width: 350px;
}
.logo-img img{
	width: 126px;
	height: 46px;
	padding: 36px 0;
}
.sousuo{
	padding: 36px 0;
}
.sousuo input{
	width: 340px;
	height: 40px;
    color: rgb(118, 118, 118);
    font-size: 14px;
    padding:  0 5px;
}
.sousuo button{
	width: 80px;
	height: 44px;
	line-height: 44px;
	background-color: rgb(237, 201, 109);
	margin-left: -5px;
}
/* 头部结束 */

/* banner开始 */
.banner{
	display: flex;
	margin-top: -50px;
}
.banner-left{
	width: 228px;
	height: 487px;
	position: relative;
	border: 1px solid rgb(201, 201, 201);
	background-color: #fff;
}
.banner-left-head{
	width: 228px;
	height: 60px;
}
.banner-left-head span{
	color: #222222;
    font-size: 16px;
    font-weight: 700;
	padding: 15px;
	line-height: 60px;
}
.banner-left-head li{
	width: 204px;
	height: 32px;
	margin-left: 15px;
	margin-top: -2px;
	font-size: 13px;
	line-height: 32px;
}
.banner-left-head li:hover{
	background-color: #f3e9af;
}
.banner-left-head a{
	color: #666666;
}
.banner-left-head li a:nth-child(3){
	color: #a4a4a4;
	position: absolute;
	right: 8px;
}
.banner-right{
	width: 950px;
	height: 240px;
	margin-left: 10px;
}
.banner-right-head{
	width: 650px;
	height: 60px;
	display: flex;
	justify-content: space-around;
}
.banner-right-head li{
	font-size: 16px;
	font-weight: bold;
	list-style: none;
	padding:20px 15px;
}
.banner-right-content{
	width: 950px;
	height: 417px;
}
.content-head{
	width: 950px;
	height: 240px;
	display: flex;
	justify-content: space-between;
}
.head-slide{
	width: 550px;
	height: 240px;
	position: relative;
}
.head-slide img{
    width: 550px;
    height: 240px;
    position: absolute;
    opacity: 0;
    transition: all 1.5s;
	cursor: pointer;
}
.head-slide .show{
    opacity: 1;
}
.head-slide span{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    color: white;
}
.bannerButton {
    width: 40px;
	height: 40px;
    background-color: rgba(102, 102, 103, 0.3);
    position: absolute;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
}

.bannerButton:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.bannerLeft {
    left: 0;
    border-radius: 50px;
}

.bannerRight {
    right: 0;
    border-radius: 50px;
}
.bannerNav{
    position: absolute;
    left: 180px;
    bottom: 10px;
}
.bannerNav li{
    width: 15px;
    height: 5px;
    background-color: rgba(61, 59, 59, 0.5);
    float: left;
    margin: 0px 5px;
    border: 2.5px solid transparent;
}
.bannerNav .active{
    background-color: rgb(255, 255, 255);
    border: 2.5px solid rgb(0, 0, 0,0.2);
}
.head-content img{
	width: 150px;
	height: 240px;
}
.head-regiter{
	width: 230px;
	height: 240px;
	border: 1px solid rgb(201, 201, 201);
	background-color: #fff;
}
.head-regiter-box{
	width: 65px;
	height: 65px;
	border-radius: 50%;
	margin: 40px 88px;
	background-color: #d7d7d7;
	
}
.head-regiter img{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	margin: 5px;
}
.head-regiter p{
	font-size: 18px;
	color: #222222;
	text-align: center;
	margin-top: -30px;
}
.head-regiter button{
	width: 108px;
	display: flex;
	justify-content: center;
	padding: 10px;
	margin: 5px auto;
	border-radius: 41px;
}
.head-regiter button:nth-child(3){
	background-color: orange;
}
.content-body{
	width: 950px;
	height: 177px;
	margin-top: 10px;
	/* 弹性布局 */
	display: flex;
	justify-content: space-between;
}
.body-left img{
	width: 270px;
	height: 178px;
}
.body-right1 img{
	width: 150px;
	height: 178px;
}
.body-right2{
	width: 230px;
	height: 178px;
	text-align: center;
	border: 1px solid rgb(201, 201, 201);
	background-color: #fff;
}
.body-right2 img{
	width: 95px;
	height: 95px;
	margin: 10px 0;
}
.body-right2 p{
	font-size: 16px;
	color: #222222;
	font-weight: 500;
}
.body-right2 span:nth-child(3){
	color: red;
}
.body-right2 span:nth-child(4){
	color: #3f3f3f;;
}
.menubar{
	width: 400px;
	height: 427px;
	background-color: #b58e8e;
	/* 绝对定位 */
	position: absolute;
	left: 228px;
	top: 60px;
	z-index: 999;
}
.menu>li>div {
	/* 设置轮播图默认隐藏 */
	display: none;
}
/* banner结束 */

/* 猫眼开始 */
.miaoFilm{
    margin: 0 auto;
    width: 1190px;
    height: 360px;
    /* background-color: #00BF96; */
    overflow: hidden;
    position: relative;
}

.filmNav{
    width: 1190px;
    height: 45px;
    background: linear-gradient(to right, rgb(250, 60, 104) 2%, rgb(254, 70, 77) 97%) rgb(250, 60, 104);
    margin-top: 30px;
}   

/* 标题 */
.filmNav div{
    font-size: 18px;
    margin-left: 13px;
    margin-right: 10px;
    font-family: "MFShangHei-Regular" !important;
    color: #fff;
    float: left;
    margin-top: 10px;
}

.filmNav ul{
    float: left;
    list-style: none;
    cursor: pointer;
}

/* 选项卡 */
.filmNav ul li{
    float: left;
    font-size: 14px;
    color: #fff;
    line-height: 44px;
    margin-left: 10px;
}

.filmNav ul li:hover{
    background-color: yellowgreen;
}

.filmNav .filmNav-all{
    float: right;
    font-size: 16px;
    color: #fff;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.filmList{
    width: 3000px;
    height: 210px;

    position: relative;
    left: 0px;
    transition: left 1s;
}

.filmContent{
    margin-top: 1px;
    margin-left: 10px;
    width: 210px;
    height: 300px;
    position: relative;
    float: left;
} 

.filmContent .filmLogo{
    width: 210px;
    height: 300px;
}

.filmContent .filmInfo{
    position: absolute;
    bottom: 30px;
    left: 5px;  
    color: #fff
}

.filmContent .filmLook span{
    color: #FF8200;
}


#film-left{
    /* 箭头的外观 */
    width: 40px;
    height: 40px;
    background-color: #222;
    border-radius: 50%;
    color:#fff;
    opacity: 0.8;
    font-size: 30px;
    text-align: center;
    /* 箭头的位置，一旦设置定位属性，就可以使用偏移量来定位 */
    position:absolute;
    left:15px;
    top: 170px; 
    z-index: 5;
    cursor: pointer;
}

/* 轮播图右边按钮 */
#film-right{
    /* 箭头的外观 */
    width: 40px;
    height: 40px;
    background-color: #222;
    border-radius: 50%;
    color:#fff;
    opacity: 0.8;
    font-size: 30px;
    text-align: center;
    /* 箭头的位置，一旦设置定位属性，就可以使用偏移量来定位 */
    position:absolute;
    right:15px;
    top: 170px;
    z-index: 5;
    cursor: pointer;
}
/* 猫眼结束 */

/* 名宿开始 */
.senior{
    margin-top: 30px;
    width: 100%;
    height: 750px;
}

.senior-center{
    width: 1190px;
    height: 750px;
    margin: 0 auto;
}
/* 民宿标题 */
.senior-center-top{
    width: 1190px;
    height: 50px;
    margin-top: 5px;
    background-color: #f2c146;
    border-radius: 5px 5px 0 0;
    border: 1px solid #f2c146;
}

.senior-center-top div{
    float: left;
    color: #fff;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 5px;
}

.senior-center-bottom{
    width: 1190px;
    height: 600px;
}

#senior-tab{
    cursor: pointer;
    margin-top: 5px;
}

/* 处理tab标题 */
#senior-tab li{
    list-style: none;
    font-size: 16px;
    float: left;
    padding-top: 5px;
    text-align: center;
    margin-left: 15px;
    color: #fff;
}

/* 民宿的内容区域 */
.senior-center-bottom{
    width: 1190px;
    height: 690px;
    background-color: #fff;
    border: 1px solid #999;
}

.senior-center-bottom .tablist div{
    width: 370px;
    height: 320px;
    float: left;
    margin-left: 20px;
    margin-top: 18px;
}

.senior-center-bottom .tablist div img{
    width: 370px;
    height: 205px;
}

.senior-center-bottom .tablist div span{
    width: 370px;
    height: 205px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.senior-center-bottom .tablist div p{
    color: #999;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.senior-center-bottom .tablist div b{
    color: red;
    font-size: 22px;
}

.tabdisplayNone{
 display: none;
}
/* 名宿结束 */