*{
    /* 初始化 */
    margin: 0;
    padding: 0;
}
.comment{
    width: 1200px;
    margin: 0 auto;
}
.head{
	background-color: #ffffff;
}
.header{
    /* 弹性布局 */
    display: flex;
    justify-content: space-between;
    height: 52px;
    line-height: 52px;
}
.backcolor{
	background-color: rgba(241, 241, 241, 0.903);
}
.header-left a{
    padding: 0 5px;
    color: rgb(118, 118, 118);
}
.header-rest{
    float: right;
}

.nav>li {
	width: 100px;
	float: left;
	text-align: center;
}

.nav>li>a {
	width: 100px;
	height: 52px;
	line-height: 52px;
	display: block;
	color: rgb(118, 118, 118);
	transition: all .5s;
}

.nav>li>a:hover {
	background-color: #ffffff;
    color: orange;
}

.nav>li:first-child {
	margin-left: 0px;
}

.nav>li:last-child {
	margin-right: 0px;
}

.nav>li>ul {
	line-height: 30px;
	display: none;
}

.nav>li>ul>li {
	background: rgb(255, 255, 255);
	color: rgb(118, 118, 118);
}

.nav>li>ul>li:hover {
	color: orange;
	cursor: pointer;
}
.submenu{
	width: 1200px;
	background-color: aquamarine;
	position: fixed;
	left: 145px;
	display: flex;
	justify-content: space-evenly;
	height: 300px;
}
.hotel{
	width: 300px;
}
.logo{
	display: flex;
}
.logo-img{
	width: 350px;
}
.logo-img img{
	width: 126px;
	height: 46px;
	padding: 36px 0;
}
.sousuo{
	padding: 36px 0;
}
.sousuo input{
	width: 340px;
	height: 40px;
}
.sousuo button{
	width: 80px;
	height: 44px;
	line-height: 44px;
	background-color: rgb(237, 201, 109);
	margin-left: -5px;
}
.head-list{
	width: 92%;
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 10px 0;
}
.head-list li{
	padding: 0 10px;
}
.head-list a{
	font-size: 16px;
	font-weight: bold;
	color: black;
}