@font-face {
  font-family: "iconfont"; /* Project id 3920553 */
  src: url('iconfont.woff2?t=1678154111537') format('woff2'),
       url('iconfont.woff?t=1678154111537') format('woff'),
       url('iconfont.ttf?t=1678154111537') format('truetype'),
       url('iconfont.svg?t=1678154111537#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-wode:before {
  content: "\e636";
}

.icon-wodefangjian:before {
  content: "\e61a";
}

.icon-fenleiliebiao:before {
  content: "\e626";
}

.icon-gongneng_xingxing-:before {
  content: "\e61e";
}

.icon-shijian:before {
  content: "\f4c3";
}

